
.navbar.bg-untapped {
    background-color: $untapped-bg !important;
}

.highlights {
    color: #B0D2E3;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.highlights-text {
    padding-top: 0;
    font-weight: bold;
    font-size: 16px;
    color: #DBDCDC;
}

.untapped-heading {
    color: #565C59;
    text-align: center;
    font: Bold 20px/26px Roboto;
}

.untapped-subtitle {
    color: #565C5980;
    text-align: center;
    font: Bold 16px/21px Roboto;
}

.btn-untapped {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.2rem 0.71rem;
    font-size: 0.9rem;
    border-radius: 10px;
    color: #565C59;
    font-weight: bold;
    background-color: $untapped-font-color;
    border-color: $untapped-font-color;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table-header-untapped {
    color: white;
    font: Bold 16px/24px Roboto;
}
tr td:first-child {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;

}

tr td:last-child {
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
}
.table {
    border-collapse: separate;
    border-spacing: 0 15px;
    overflow: hidden;
    width: 100%;
    margin-bottom: $spacer;
    color: $table-color;
    background-color: $table-bg; // Reset for nesting within parents with `background-color`.

    th,
    td {
        padding: $table-cell-padding;
        vertical-align: top;
        border-top: $table-border-width solid transparent;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: (2 * $table-border-width) solid transparent;
    }

    tbody + tbody {
        border-top: (2 * $table-border-width) solid transparent;
    }

    tbody > tr {
        box-shadow: 0 13px 26px #0000001A;
        border-radius: 10px;
        background-color: white;
        color: #565C59;
        padding-top: 10px;
        font: Bold 16px/24px Roboto;
        margin-bottom: 10px;
    }
}
