@charset "UTF-8";

/*==========================================
    typography
===========================================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,900&amp;display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&amp;display=swap");

@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&amp;display=swap");

$untapped-blue: #acd4e7;
$untapped-accent: #ED7D31;

.container {
  max-width: 1200px;
}

.btn-hyipox {
  display: inline-block;
  height: 50px;
  background: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  padding: 0 35px;
  color: #8e54e9;
  border-radius: 50px;
  margin-top: 40px;
  font-family: "Yantramanav", sans-serif;
  text-transform: capitalize;
}

.btn-hyipox-2 {
  display: inline-block;
  height: 50px;
  padding: 0 40px;
  background: -o-linear-gradient(109deg, #8e54e9 10%, #4776e6);
  background: linear-gradient(-19deg, #8e54e9 10%, #4776e6);
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  border-radius: 50px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  font-family: "Yantramanav", sans-serif;
  text-transform: capitalize;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
    background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    z-index: -1;
    opacity: 0;
  }

  &:hover {
    color: #fff;

    &:after {
      opacity: 1;
    }
  }
}

.btn-hyipox-medium {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  background: -o-linear-gradient(109deg, $untapped-accent 10%, $untapped-accent);
  background: linear-gradient(-19deg, $untapped-accent 10%, $untapped-accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
  border-radius: 50px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  font-family: "Yantramanav", sans-serif;
  text-transform: capitalize;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: darken($untapped-accent, 20%);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    z-index: -1;
    opacity: 0;
  }

  &:hover {
    color: #fff;

    &:after {
      opacity: 1;
    }
  }
}

.btn-hyipox-small {
  display: inline-block;
  height: 30px;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  padding: 0 25px;
  color: #8e54e9;
  border-radius: 50px;
  text-transform: capitalize;
}

.section-title {
  margin-bottom: 65px;
  text-align: center;

  &.section-title-2 {
    span.sub-title, h2 {
      color: #fff;
    }
  }

  span.sub-title {
    display: block;
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
    margin-top: -6px;
    font-family: "Yantramanav", sans-serif;
    background: -webkit-linear-gradient(-19deg, #8e54e9 10%, #4776e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 12px;
  }

  h2 {
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    color: #49596d;
    text-transform: capitalize;

    span.special {
      font-weight: 700;
      //font-family: "Kalam", cursive;
      //font-style: italic;
      background: $untapped-blue;

      /*background: -webkit-linear-gradient(-19deg, #8e54e9 10%, #4776e6);*/
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.c-white {
  color: #fff;
}

span.special {
  padding-right: 4px;
}

@media only screen and (max-width: 991px) {
  .row.reorder-xs {
    -ms-transform: rotate(180deg);

    /* IE 9 */
    -webkit-transform: rotate(180deg);

    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    direction: rtl;

    > [class*=col-] {
      -ms-transform: rotate(-180deg);

      /* IE 9 */
      -webkit-transform: rotate(-180deg);

      /* Chrome, Safari, Opera */
      transform: rotate(-180deg);
      direction: ltr;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .row.homepage-about-xs {
    -ms-transform: rotate(180deg);

    /* IE 9 */
    -webkit-transform: rotate(180deg);

    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    direction: rtl;

    > [class*=col-] {
      -ms-transform: rotate(-180deg);

      /* IE 9 */
      -webkit-transform: rotate(-180deg);

      /* Chrome, Safari, Opera */
      transform: rotate(-180deg);
      direction: ltr;
    }
  }
}

/*==========================================
    Preloader
==========================================*/

.preloader {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: #fff;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-to-top-btn a {
  background: -o-linear-gradient(109deg, $untapped-blue 10%, $untapped-blue);
  background: linear-gradient(-19deg, $untapped-blue 10%, $untapped-blue);
  border: none;
  display: inline-block;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  overflow: hidden;
  bottom: 100%;
  right: 30px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 1px solid #fff;

  &.active {
    bottom: 14px;
  }

  &:hover:after {
    opacity: 0;
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(109deg, $untapped-blue 10%, $untapped-blue);

    /*background: linear-gradient(-19deg, #8e54e9 10%, #4776e6);*/
    background: -webkit-linear-gradient(-19deg, $untapped-blue 10%, $untapped-blue);
    z-index: -1;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}

/*==========================================
    normalize
==========================================*/

html {
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #444;
  background-color: #fcfcfc;
  overflow-x: hidden;
  line-height: 30px;
  letter-spacing: 0.03em;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, a {
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Yantramanav", sans-serif;
}

p {
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

a {
  color: #6253c0;
  text-decoration: none;
  text-decoration: none;
  outline: none;

  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: none;
  }

  i {
    padding: 0 2px;
  }
}

img {
  max-width: 100%;
}

/*input and button type focus outline disable*/

input {
  &[type=text]:focus, &[type=email]:focus, &[type=url]:focus, &[type=password]:focus, &[type=search]:focus, &[type=tel]:focus, &[type=number]:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
  }
}

textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
}

input {
  &[type=button]:focus, &[type=reset]:focus, &[type=submit]:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
  }
}

select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
}

/**
 * 5.0 - Alignments
 */

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.notification-alert {
  position: fixed;
  z-index: 55;
  width: 700px;
  left: 50%;
  height: 50px;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
  top: 100px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .notice-list .single-notice {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    background: red;
    margin-bottom: 10px;
    opacity: 1;

    &.hidden {
      opacity: 0;
    }
  }
}

#toast-container {
  width: 1200px !important;
  max-width: 1200px !important;
  right: 50% !important;
  -webkit-transform: translateX(50%) !important;
  -ms-transform: translateX(50%) !important;
  transform: translateX(50%) !important;
  top: 100px !important;

  div {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    opacity: 1 !important;

    &:hover {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }

  .toast-success {
    background-color: #3bb78f !important;
    background-image: -o-linear-gradient(245deg, #0bab64 0%, #3bb78f 74%) !important;
    background-image: linear-gradient(-155deg, #0bab64 0%, #3bb78f 74%) !important;
    position: relative !important;

    &:after {
      position: absolute;
      content: "";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-left: 20px;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .toast-error {
    background-color: #eb4511 !important;
    background-image: -o-linear-gradient(245deg, #b02e0c 0%, #eb4511 74%) !important;
    background-image: linear-gradient(-155deg, #b02e0c 0%, #eb4511 74%) !important;
    position: relative !important;

    &:after {
      position: absolute;
      content: "";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-left: 20px;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1199px) {
  #toast-container {
    width: 100% !important;
    max-width: 100% !important;
    top: 10px !important;
  }
}

/*==========================================
    Topbar
==========================================*/

.topbar .welcome-text p {
  margin: 0;
  color: #fff;
  font-size: 16px;
}

/*==========================================
    Header
==========================================*/

.header {
  z-index: 3;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &.header-fixed {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: -o-linear-gradient(109deg, #898681 10%, #898681);
    background: linear-gradient(-19deg, #898681 10%, #898681);
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  }

  .top {
    background: #4776e6;
    display: none;

    .welcome-text p {
      margin: 0;
      font-size: 15px;
      color: rgba(255, 255, 255, 0.9);
      padding: 13px 0;
    }

    .user-panel {
      text-align: right;
      width: 100%;

      span {
        color: #fff;
        margin-right: 8px;
        font-size: 14px;

        a.login {
          display: inline-block;
          margin-right: 8px;
          color: #fff;
        }
      }
    }
  }

  .bottom {
    .logo a {
      display: inline-block;
      height: 40px;

      img {
        height: 100%;
      }
    }

    .mainmenu .navbar {
      padding: 20px 0;

      .navbar-nav .nav-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        &:hover .nav-link:before, &.active .nav-link:before {
          height: 20px;
          opacity: 0.7;
        }

        &.join-now-btn {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;

          a {
            background: #fff;
            background: -o-linear-gradient(-19deg, $untapped-accent 10%, $untapped-accent);
            background: linear-gradient(-19deg, $untapped-accent 10%, $untapped-accent);
            margin-right: 0;
            padding: 0 40px;
            height: 50px;
            line-height: 46px;
            border: 2px solid #fff;
            color: #fff;
            border-radius: 50px;
          }
        }

        .nav-link {
          padding: 0;
          margin: 0 20px;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          color: #fff;
          position: relative;
          font-family: "Yantramanav", sans-serif;
          text-transform: capitalize;
          font-size: 18px;
          font-weight: 500;
        }

        &.dropdown {
          .dropdown-toggle:after {
            content: "";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            border: none;
            vertical-align: unset;
            height: auto;
            width: auto;
            margin-left: 10px;
          }

          .dropdown-item {
            font-family: "Yantramanav", sans-serif;
            color: #fff;
          }
        }

        .dropdown-menu {
          padding: 8px 0px;
          margin: 0;
          border: none;
          border-radius: 0;
          border-top: 10px solid #4776e6;
          border-bottom: 10px solid #4776e6;
          -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);

          .dropdown-item {
            padding: 4px 15px;
            font-size: 18px;
            color: #4776e6;
            font-weight: 500;

            &:hover, &:focus .header .bottom .mainmenu .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item.active {
              background: transparent;
              color: #8e54e9;
            }
          }
        }
      }
    }
  }

  .user-profile {
    padding-left: 30px;
    margin-top: 20px;

    .part-img {
      width: 85px;
      border-radius: 50%;
      overflow: hidden;
      border: 6px groove rgba(39, 61, 113, 0.4);
      -webkit-box-shadow: 0px 0px 18px -3px rgba(255, 255, 255, 0.29);
      box-shadow: 0px 0px 18px -3px rgba(255, 255, 255, 0.29);
      margin-bottom: 23px;
      margin-left: -8px;

      img {
        width: 100%;
      }
    }

    .user-info {
      position: relative;
      width: 170px;
      padding: 12px 0 13px;
      margin-bottom: 15px;

      &:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 999px;
        height: 100%;
        z-index: -1;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.15);
        background: #273d71;
      }

      span {
        display: block;
        font-family: "Yantramanav", sans-serif;

        &.user-name {
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
          margin-bottom: 3px;
          color: #fff;
        }

        &.user-balance {
          font-size: 16px;
          font-weight: 300;
          color: #e2e2e2;
        }
      }
    }

    .log-out-area {
      position: absolute;
      top: 45px;
      right: 60px;

      a {
        display: inline-block;
        padding: 0 30px;
        height: 35px;
        line-height: 35px;
        border-radius: 50px;
        font-family: "Yantramanav", sans-serif;
        font-weight: 500;
        background: #fff;
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 575px) {
  .header .user-profile {
    .user-info span {
      &.user-name {
        font-size: 22px;
        line-height: 32px;
      }

      &.user-balance {
        font-size: 18px;
      }
    }

    .part-img {
      width: 95px;
    }
  }
}

.banner {
  //padding: 100px 0 0;
  //background: url("../img/banner-bg.jpg") center center no-repeat;
  background-color: #FBFCFD;
  z-index: 2;
}

/*==========================================
    about
==========================================*/

.about {
  padding: 0 0 79px;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    left: 40%;
    top: 0;
    width: 60%;
    background: url(../img/lottery-ticket-shape.png) center bottom no-repeat;
    background-size: cover;
    bottom: 50px;
    z-index: -2;
  }

  .part-text {
    h2 {
      font-size: 50px;
      line-height: 60px;
      font-weight: 900;
      color: #49596d;
      margin-top: -8px;
      margin-bottom: 28px;

      span.special {
        font-weight: 700;
        //font-family: "Kalam", cursive;
        //font-style: italic;

        /*background: -webkit-linear-gradient(-19deg, #8e54e9 10%, #4776e6);*/
        background: $untapped-blue;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p {
      font-size: 16px;
      line-height: 28px;
      color: #555;

      span.spc {
        font-weight: 600;
        display: inline-block;
        position: relative;

        &:after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 5px;
          width: 100%;
          height: 1px;
          background: #555;
        }
      }
    }

    ul {
      margin: 30px 0 20px;

      li {
        font-size: 16px;
        line-height: 34px;
        color: #555;
        font-weight: 500;

        i {
          color: #8e54e9;
          margin-right: 8px;
        }
      }
    }

    a {
      margin-top: 26px;
      display: -ms-inline-grid;
      display: inline-grid;
    }
  }

  .part-feature {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      left: calc(65px / 2);
      top: 0;
      width: 1px;
      background: #8e54e9;
      bottom: 100px;
      z-index: -1;
      opacity: 0.15;
    }

    .single-feature {
      margin-bottom: 16px;

      .feature-icon {
        width: 75px;
        height: 75px;
        background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
        background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
        padding: 20px;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(142, 84, 233, 0.5);
        box-shadow: 0px 0px 10px 0px rgba(142, 84, 233, 0.5);
        float: left;
        margin-right: 30px;
        position: relative;

        &:after {
          position: absolute;
          content: "";
          left: -12px;
          top: -30px;
          bottom: -30px;
          right: 0;
          background: url(../img/time-bg.png) center center no-repeat;
          background-size: contain;
          z-index: -1;
        }

        img {
          width: 100%;
        }
      }

      .feature-text {
        display: table-cell;

        h3 {
          font-size: 24px;
          font-weight: 900;
          display: inline-block;
          color: #49596d;
        }

        p {
          font-size: 16px;
          line-height: 28px;
          color: #555;
        }
      }
    }
  }
}

.statics .all-statics {
  background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
  background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
  padding: 60px;
  margin: 0 -100px;
  border-radius: 10px;
  z-index: 2;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/banner-bg.png") center center repeat;
    background-size: 85%;
    z-index: -1;
  }

  div div:last-child .single-statics {
    border-right: none;
  }

  .single-statics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px dashed #fff;

    .part-img {
      margin-right: 30px;

      img {
        width: 60px;
      }
    }

    .part-text {
      color: #fff;

      .counter {
        display: block;
        font-size: 50px;
        line-height: 60px;
        font-weight: 300;
        margin-top: -12px;
        font-family: "Yantramanav", sans-serif;
      }

      .title {
        font-size: 20px;
        display: block;
        font-weight: 600;
        text-transform: capitalize;
        font-family: "Yantramanav", sans-serif;
        margin-top: -4px;
      }
    }
  }
}

/*==========================================
    Pricing plan
==========================================*/

.pricing-plan {
  padding: 120px 0;

  .single-plan {
    background: url("../img/price-plan-bg-1.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 42px 0 43px;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
      background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
      z-index: -2;
      opacity: 0.95;
    }

    &:before {
      position: absolute;
      content: "";
      left: 5px;
      top: 5px;
      right: 5px;
      bottom: 5px;
      background: #fff;
      z-index: -1;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      opacity: 1;
    }

    &:hover:before, &.active:before {
      opacity: 0;
    }

    &:hover h3, &.active h3 {
      background: -webkit-linear-gradient(-19deg, #fff 10%, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover .plan-icon img, &.active .plan-icon img {
      -webkit-filter: brightness(100);
      filter: brightness(100);
    }

    &:hover .feature-list ul li, &.active .feature-list ul li, &:hover .feature-list ul li i, &.active .feature-list ul li i {
      background: -webkit-linear-gradient(-19deg, #fff 10%, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover .price-info span {
      &.parcent, &.price {
        background: -webkit-linear-gradient(-19deg, #fff 10%, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &.active .price-info span {
      &.parcent, &.price {
        background: -webkit-linear-gradient(-19deg, #fff 10%, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:hover .price-button, &.active .price-button {
      color: #4776e6;
    }

    &:hover .price-button:after, &.active .price-button:after {
      opacity: 1;
      background: -o-linear-gradient(109deg, #fff 10%, #fff);
      background: linear-gradient(-19deg, #fff 10%, #fff);
    }

    &:hover .price-button:hover:after, &.active .price-button:hover:after {
      opacity: 1;
    }

    h3 {
      font-size: 30px;
      line-height: 40px;
      font-weight: 800;
      color: #49596d;
      margin-bottom: 31px;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }

    .plan-icon {
      height: 75px;
      margin-bottom: 29px;

      img {
        height: 100%;
      }
    }

    .feature-list {
      display: inline-block;

      ul {
        text-align: left;

        li {
          font-size: 16px;
          font-weight: 500;
          line-height: 36px;
          color: #555;

          i {
            background: -webkit-linear-gradient(-19deg, #8e54e9 10%, #4776e6);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-right: 6px;
          }
        }
      }
    }

    .price-info {
      margin-bottom: 36px;

      span {
        display: block;

        &.parcent {
          font-size: 60px;
          font-weight: 400;
          background: -webkit-linear-gradient(-19deg, #8e54e9 10%, #4776e6);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-top: 4px;
          margin-bottom: -4px;
          font-family: "Kalam", cursive;
        }

        &.price {
          font-size: 16px;
          font-weight: 600;
          color: #49596d;

          small {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }

    .price-button {
      &:after {
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
      }

      &:hover:after {
        opacity: 0;
      }
    }
  }
}

.cta {
  background: url('../../bg_gradient.png') center center no-repeat;
  background-size: cover;
  padding: 120px 0;
  position: relative;
  z-index: 2;

  /*background: -o-linear-gradient(-19deg, #165b6b 10%, #2c2f61);*/
  /*background: linear-gradient(-19deg, #165b6b 10%, #2c2f61);*/

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
    background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
    background: url(../img/banner-bg.png) center center no-repeat;
    background-size: 90%;
    z-index: -1;
    opacity: 1;
  }

  .cta-bg {
    .cta-text {
      h2 {
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 12px;
        color: #fff;
        text-transform: capitalize;
        margin-top: -10px;
      }

      p {
        color: #fff;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;

        &.marked {
          font-style: italic;
          font-size: 18px;
          line-height: 30px;
        }
      }

      .cta-btn {
        background: $untapped-accent;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        padding: 0 40px;
        margin-top: 16px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;

        &:after {
          display: none;
        }
      }
    }

    .part-video {
      position: relative;
      padding: 12px;
      width: 320px;

      &:after {
        position: absolute;
        content: "";
        top: 4px;
        background: #fff;
        left: 6px;
        right: 6px;
        bottom: 6px;
        -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
      }

      img {
        position: relative;
        z-index: 2;
        -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
      }

      button.play-video {
        border: none;
        color: #fff;
        width: 60px;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        height: 60px;
        position: absolute;
        z-index: 2;
        outline: none;
        cursor: pointer;
        font-size: 15px;
        border-radius: 50%;

        &:before {
          position: absolute;
          content: "";
          left: -10px;
          right: -10px;
          top: -10px;
          bottom: -10px;
          background: #fff;
          opacity: 0.4;
          z-index: -2;
          border-radius: 50%;
        }

        &:after {
          position: absolute;
          content: "";
          left: 0px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          background: -o-linear-gradient(109deg, #165b6b 10%, #2c2f61);
          background: linear-gradient(-19deg, #165b6b 10%, #2c2f61);
          border-radius: 50%;
          z-index: -1;
        }
      }
    }
  }
}

.team {
  padding: 120px 0;
  background: url("../img/team-bg.png") center center no-repeat;
  background-size: cover;

  .single-member {
    text-align: center;

    .img-box {
      overflow: hidden;
      padding: 10px 0 10px;
      margin-bottom: 23px;
    }

    .part-img {
      position: relative;
      width: 300px;
      display: inline-block;

      .view-btn {
        display: inline-block;
        position: absolute;
        width: 50px;
        height: 50px;
        line-height: 50px;
        left: 50%;
        top: -10%;
        margin-left: -25px;
        margin-top: -25px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 18px;
        z-index: 2;
        border-bottom: 1px dashed #fff;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        opacity: 0;
        visibility: hidden;
      }

      &:hover {
        .view-btn {
          top: 50%;
          opacity: 1;
          visibility: visible;
        }

        img.border {
          opacity: 0;
        }

        &:after {
          top: 0;
        }
      }

      &:after {
        position: absolute;
        content: "";
        left: 0;
        top: calc(100% + 10px);
        width: 100%;
        height: 100%;
        background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
        background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        opacity: 0.8;
        -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
      }

      &:before {
        position: absolute;
        content: "";
        left: -6px;
        top: -6px;
        right: -6px;
        bottom: -6px;
        opacity: 0.5;
        background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
        background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
        -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
      }

      img {
        -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
      }
    }

    .part-text {
      text-align: center;

      span {
        display: block;

        &.name {
          font-size: 24px;
          font-weight: 670;
          top: calc(100% - 10px);
          margin-bottom: 5px;
          font-family: "Yantramanav", sans-serif;
        }

        &.invested-amount {
          color: rgba(73, 89, 109, 0.8);
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 22px;
        }
      }

      .paid-from {
        background: -o-linear-gradient(109deg, #8e54e9 10%, #4776e6);
        background: linear-gradient(-19deg, #8e54e9 10%, #4776e6);
        color: #fff;
        padding: 5px 30px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border-radius: 6px;
        font-family: "Yantramanav", sans-serif;

        .paymethod-logo {
          width: auto;
          margin-left: 15px;

          img {
            height: 18px;
          }
        }
      }
    }
  }
}

.transaction {
  padding: 120px 0;
  background-image: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
  background-image: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
  position: relative;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/map.png") center center no-repeat;
    background-size: 70%;
    opacity: 0.05;
    z-index: 0;
  }

  .sub-title {
    color: #fff;
    -webkit-text-fill-color: white !important;
    font-weight: 500 !important;
  }

  .part-text {
    h2 {
      font-weight: 700;
      font-size: 34px;
      line-height: 44px;
      margin-bottom: 12px;
      color: #fff;
      text-transform: capitalize;
      margin-top: -7px;
    }

    p {
      color: #fff;
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;

      &.marked {
        font-style: italic;
        font-size: 16px;
        line-height: 28px;
      }
    }

    .cta-btn {
      background: #fff;
      color: #8e54e9;
      font-weight: 600;
      font-size: 18px;
      padding: 0 40px;
      margin-top: 16px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;

      &:after {
        display: none;
      }
    }
  }

  .transaction-list {
    padding: 20px 20px 10px;
    background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
    background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: -30px;
    border-radius: 6px;

    .single-transaction {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 30px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      margin-bottom: 10px;
      border-radius: 6px;
      position: relative;
      overflow: hidden;
      background: #fff;
      outline: none !important;

      &:hover .coin {
        opacity: 1;
      }

      .flag {
        width: 45px;
        margin-right: 30px;

        img {
          width: 100%;
        }
      }

      .user-info span {
        font-family: "Yantramanav", sans-serif;

        &.name {
          display: block;
          font-size: 22px;
          color: #fff;
          font-weight: 700;
          margin-bottom: 3px;
          margin-top: -8px;
          color: #49596d;
        }

        &.tr-type, &.tr-date {
          color: rgba(73, 89, 109, 0.8);
        }

        &.tr-amount {
          display: block;
          font-family: "Kalam", cursive;
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          margin-top: 5px;
          margin-bottom: -9px;
          color: #61b54c;
        }
      }

      .coin {
        width: 150px;
        position: absolute;
        right: -50px;
        bottom: -50px;
        opacity: 0.2;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
      }
    }
  }
}

.choosing-reason {
  padding: 120px 0 120px;
  background: url("../img/feature-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/feature-bg.png") center 51% no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .single-reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;

    .icon-box {
      margin-bottom: 30px;
    }

    .part-icon {
      position: relative;
      display: inline-block;
      background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
      background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
      border-radius: 50%;
      z-index: 2;
      margin: 17px 0 13px;
      width: 60px;

      &:after {
        position: absolute;
        content: "";
        left: -25%;
        top: -10px;
        width: 70px;
        height: 70px;
        background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
        background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
        opacity: 0.15;
        border-radius: 30% 20% 50% 50%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:before {
        position: absolute;
        content: "";
        left: 15%;
        top: -10px;
        width: 70px;
        height: 70px;
        background: -o-linear-gradient(109deg, #8e54e9 10%, #4776e6);
        background: linear-gradient(-19deg, #8e54e9 10%, #4776e6);
        opacity: 0.15;
        border-radius: 30% 20% 50% 50%;
        -webkit-transform: rotate(-170deg);
        -ms-transform: rotate(-170deg);
        transform: rotate(-170deg);
        z-index: -1;
      }

      img {
        padding: 15px;
      }
    }

    .part-text {
      margin-top: 16px;

      h3.title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 700;
        color: #49596d;
        margin-bottom: 14px;
      }

      p {
        line-height: 28px;
        color: #555;
      }
    }
  }

  .part-img {
    position: relative;
    width: 100%;
    z-index: -1;
    top: 60px;
    left: -70px;

    .shadow-shape {
      position: relative;
      display: inline-block;
      width: 60px;
      top: -100px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);

      &:after {
        position: absolute;
        content: "";
        left: -100px;
        top: -250px;
        width: 290px;
        height: 290px;
        background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
        background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
        opacity: 0.06;
        border-radius: 30% 20% 50% 50%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:before {
        position: absolute;
        content: "";
        right: -250px;
        top: -250px;
        width: 290px;
        height: 290px;
        background: -o-linear-gradient(109deg, #8e54e9 10%, #4776e6);
        background: linear-gradient(-19deg, #8e54e9 10%, #4776e6);
        opacity: 0.06;
        border-radius: 30% 20% 50% 50%;
        -webkit-transform: rotate(-170deg);
        -ms-transform: rotate(-170deg);
        transform: rotate(-170deg);
        z-index: -1;
      }
    }

    img {
      width: 300px;
      max-width: none;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .part-right {
    text-align: right;
  }

  .part-left {
    margin-bottom: 82px;

    .single-reason .icon-box {
      margin-right: 50px;
    }
  }

  .part-right {
    margin-bottom: 82px;

    .single-reason .icon-box {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin-left: 50px;
    }
  }
}

.testimonial {
  padding: 120px 0 120px;
  background: url(../img/team-bg.png) center center no-repeat;
  background-size: cover;

  .all-testimonials {
    background: url("../img/testimonial-bg.jpg") center center no-repeat;
    background-size: cover;
    padding: 50px 0;
    -webkit-box-shadow: 0 0 21px -7px rgba(0, 0, 0, 0.31);
    box-shadow: 0 0 21px -7px rgba(0, 0, 0, 0.31);
    border-radius: 10px;

    &:hover .testi-text-slider .slick-arrow {
      opacity: 1;

      &.slick-next {
        right: -110px;
      }

      &.slick-prev {
        left: -110px;
      }
    }

    .testi-text-slider {
      .slick-arrow {
        width: 50px;
        height: 50px;
        background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
        background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
        border-radius: 50%;
        line-height: 50px;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        opacity: 0;

        &:before {
          opacity: 1;
          font-size: 20px;
          line-height: 48px;
          color: #8e54e9;
          -webkit-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
        }

        &:after {
          position: absolute;
          content: "";
          left: 1px;
          top: 1px;
          right: 1px;
          bottom: 1px;
          background: #fff;
          border-radius: 50%;
          z-index: -1;
          -webkit-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
        }

        &:hover {
          &:after {
            opacity: 0;
          }

          &:before {
            color: #fff;
          }
        }

        &.slick-next {
          right: -140px;
        }

        &.slick-prev {
          left: -140px;
        }
      }

      .single-testimonial {
        outline: none;
        text-align: center;

        .quot-icon {
          display: inline-block;
          margin-bottom: 22px;
          width: 40px;
        }

        p {
          font-size: 22px;
          line-height: 36px;
          color: #3f3c57;
          font-weight: 400;
        }

        .part-user {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          text-align: end;
          margin-bottom: 26px;
        }

        .user-name, .user-location {
          font-family: "Yantramanav", sans-serif;
        }

        .user-name {
          color: #49596d;
          font-size: 30px;
          font-weight: 300;
          display: inline-block;
          position: relative;
          margin-bottom: -4px;
          right: -10px;
          font-family: "Kalam", cursive;

          &:after {
            content: "";
            right: calc(100% + 20px);
            top: 50%;
            width: 100px;
            height: 1px;
            background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
            background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
            position: absolute;
            opacity: 0.5;
          }
        }

        .user-location {
          color: #999;
        }
      }
    }

    .testi-user-slider {
      text-align: center;
      margin-bottom: -12px;

      .slick-list {
        width: 250px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        display: inline-block;
      }

      .single-user {
        outline: none;
        position: relative;
        z-index: 2;
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;

        &.slick-current {
          -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
          transform: scale(0.9);
        }

        &:after {
          position: absolute;
          content: "";
          left: -2px;
          right: -2px;
          bottom: -2px;
          top: -2px;
          background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
          background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
          z-index: -1;
          -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          margin: 2px 0;
        }

        img {
          width: 100%;
          -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          margin: 4px 0;
          padding: 0 2px;
        }
      }
    }
  }
}

.payment-gateway {
  background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
  background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
  padding: 80px 0;
  z-index: 2;
  position: relative;

  &:after {
    background: url("../img/banner-bg.png") center center repeat;
    background-size: 75%;
    z-index: -1;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .part-text {
    text-align: left;

    h2 {
      font-weight: 700;
      font-size: 34px;
      line-height: 44px;
      margin-bottom: 22px;
      color: #fff;
      text-transform: capitalize;
      margin-top: -10px;
    }

    p {
      color: #fff;
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;

      &.marked {
        font-style: italic;
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .part-crypto {
    margin-left: -30px;
    position: relative;
    padding: 30px 30px 30px 30px;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: white;
      z-index: -1;
      border-radius: 10px;
    }

    h3.title {
      font-size: 18px;
      line-height: 30px;
      color: #49596d;
      text-transform: capitalize;
      font-weight: 500;
      position: relative;
      margin-top: -8px;
      padding-bottom: 6px;
      margin-bottom: 19px;
      display: block;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100px;
        height: 1px;
        background: #49596d;
        opacity: 0.5;
      }
    }
  }

  h3.title {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
    margin-top: -8px;
    padding-bottom: 6px;
    margin-bottom: 19px;
    display: block;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100px;
      height: 1px;
      background: white;
      opacity: 0.5;
    }
  }

  .all-payment {
    margin-top: 50px;

    .single-payment-way {
      background: #fff;
      padding: 15px 20px;
      display: inline-block;
      margin: 0 10px;
      border-radius: 6px;

      img {
        height: 50px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.how-to-works {
  padding: 60px 0 35px;
  margin-bottom: 120px;
  position: relative;
  z-index: 2;
  position: relative;
  z-index: 2;

  &:after {
    position: absolute;
    content: "";
    left: -60px;
    right: -60px;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.12);
  }

  .single-system {
    position: relative;
    padding: 0 15px;

    .part-icon {
      left: 0;
      position: relative;
      width: 70px;
      float: left;
      margin-right: 30px;
      z-index: 2;

      img {
        background: #fff;
      }
    }

    .part-text {
      display: flow-root;

      h4.title {
        font-size: 22px;
        line-height: 32px;
        font-weight: 600;
        color: #49596d;
      }

      p {
        color: #555;
        line-height: 28px;
      }
    }
  }
}

.blog {
  padding: 120px 0 90px;
  background: url(../img/feature-bg.jpg) center center no-repeat;
  background-size: cover;

  .single-news {
    margin-bottom: 30px;

    .part-img {
      position: relative;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #111;
        opacity: 0.5;
      }

      img {
        width: 100%;
      }
    }

    .part-text {
      border: 4px groove rgba(142, 84, 233, 0.1);
      border-top: none;
      padding: 30px;
      background: #fff;

      a {
        display: block;
        color: #49596d;
        font-family: "Yantramanav", sans-serif;
        font-size: 24px;
        line-height: 34px;
        font-weight: 700;
        text-transform: capitalize;
        margin-top: -6px;
        margin-bottom: 13px;
      }

      p {
        line-height: 28px;
        color: #555;
      }

      .read-more-btn {
        display: inline-block;
        font-size: 18px;
        color: #fff;
        background: -o-linear-gradient(109deg, $untapped-blue 10%, $untapped-blue);
        background: linear-gradient(-19deg, $untapped-blue 10%, $untapped-blue);
        padding: 0 35px;
        height: 50px;
        line-height: 50px;
        border-radius: 50px;
        margin-top: 15px;
        font-weight: 400;
      }
    }
  }
}

.footer {
  .footer-top {
    background: #898681;
    padding: 120px 0 115px;
  }

  .about-widget {
    a.logo {
      display: inline-block;
      width: 150px;
      margin-bottom: 32px;

      img {
        width: 100%;
      }
    }

    p {
      color: #ffffff;
      line-height: 28px;
    }

    .social-links {
      margin-top: 32px;

      ul li {
        display: inline-block;

        a {
          display: inline-block;
          background: #898680;
          color: white;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          margin-right: 6px;

          &.active, &:hover {
            background: linear-gradient(-19deg, #ACD5E7 10%, #FF8478);
            background: -o-linear-gradient(109deg, #ACD5E7 10%, #FF8478);

            /*background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);*/
            color: #fff;
          }
        }
      }
    }
  }

  .link-widget {
    h4.title {
      color: #fff;
      font-size: 24px;
      line-height: 34px;
      margin-top: -6px;
      margin-bottom: 23px;
      letter-spacing: 0;
    }

    ul li {
      padding: 5px 0;

      a {
        display: inline-block;
        color: #ffffff;
        font-family: "Yantramanav", sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;

        &:hover {
          color: #8e54e9;
        }
      }
    }
  }

  .newsletter-widget {
    h4.title {
      color: #fff;
      font-size: 24px;
      line-height: 34px;
      margin-top: -6px;
      margin-bottom: 15px;
      letter-spacing: 0;
      font-weight: 500;
    }

    .newsletter-form {
      position: relative;
      z-index: 2;
      padding-bottom: 1px;
      margin-bottom: 25px;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 51px;
        background: #8e54e9;
        z-index: -1;
        opacity: 0.5;
      }

      input {
        background: #cce7ff;
        border: none;
        width: 100%;
        padding: 0 90px 0 0;
        height: 50px;
        color: black;
        border-radius: 10px;
      }
    }
  }
}

.newsletter-form::placeholder {
  padding-left: 10px;
}

.footer {
  .newsletter-widget {
    .newsletter-form .def-btn {
      display: inline-block;
      background: -o-linear-gradient(109deg, $untapped-blue 10%, $untapped-blue);
      background: linear-gradient(-19deg, $untapped-blue 10%, $untapped-blue);
      border: none;
      height: 40px;
      color: #fff;
      width: 140px;
      border-radius: 50px;
      margin-top: 20px;
      font-family: "Yantramanav", sans-serif;
      font-size: 18px;
      text-transform: capitalize;
      position: relative;
      z-index: 2;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      overflow: hidden;
      cursor: pointer;
      outline: none;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        /*background: -webkit-linear-gradient(-19deg, #ACD5E7 10%, #FF8478);*/
        background: -o-linear-gradient(109deg, $untapped-blue 10%, $untapped-blue);
        background: linear-gradient(-19deg, $untapped-blue 10%, $untapped-blue);
        z-index: -1;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
      }

      &:hover:after {
        opacity: 0;
      }
    }

    p {
      color: #ababab;
      line-height: 28px;
    }
  }

  .copyright-area {
    background: #242424;
    text-align: center;
    padding: 25px 0;

    p {
      color: #999;
      margin-bottom: 0;
      line-height: 28px;

      a {
        background: -webkit-linear-gradient(-19deg, #8e54e9 10%, #4776e6);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0;
      }
    }
  }
}

.mobile-navigation-bar {
  background: -o-linear-gradient(109deg, #4776e6 10%, #8e54e9);
  background: linear-gradient(-19deg, #4776e6 10%, #8e54e9);
  position: fixed;
  z-index: 55;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;

    li {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      a {
        display: inline-block;
        padding: 10px 15px;
        position: relative;
        border: 1px solid transparent;
        top: 0;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;

        &:focus {
          background: -o-linear-gradient(109deg, #8e54e9 10%, #4776e6);
          background: linear-gradient(-19deg, #8e54e9 10%, #4776e6);
          border: 1px solid rgba(255, 255, 255, 0.4);
          top: -10px;
          border-radius: 10px;
        }

        img {
          height: 30px;
          width: auto;
          max-width: none;
        }
      }
    }
  }
}

// Assets View
.asset-title {
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 200;
  font-family: 'Avenir', 'Verdana', sans-serif;
  letter-spacing: 1.2px;
  margin-bottom: 1px;
  color: #737373;
  background-color: #f9f9f9;
  margin: 0 auto;
  width: fit-content;
  width: -moz-fit-content;
  padding: 8px 15px 5px 15px;
  position: relative;
  z-index: 50;
  border: 1px solid #f5f5f5;
}
.deal-stats-line {
  border-top: 1px solid $untapped-accent;
  width: 75%;
  height: 3px;
  clear: both;
  margin: 0 auto;
}
.deal-stats-box {
  border: 1px solid #f3f3f3;
  background: #fff;
  width: fit-content;
  width: -moz-fit-content;
  height: 24px;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  padding-left: 11px;
  padding-top: 4px;
  padding-right: 11px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0px 2px 8px 0px #00000009;
  color: #337ab7;
  clear: both;
  font-family: 'Avenir',sans-serif;
  font-weight: 500;
}